form.signup,
form.login {
  margin-top: 20px;
}

#banner-img {
  border: 5px solid black;
  border-radius: 25px;
}

.top-bar,
.top-bar ul {
  background-color: black;
}

#title-site {
  padding-left: 13%;
}

.card {
  background-color: white;
  border: 5px solid #7289da;
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 2), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-top: 10px;
}

.login-card,
.signup-card {
  background-color: rgb(36, 36, 36);
  padding: 10px;
  border: 5px solid #7289da;
  border-radius: 25px;
  margin-top: 50px;
  width: 40%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 2), 0 6px 6px rgba(0, 0, 0, 0.23)
}

.signup,
.login,
.form-header {
  padding-left: 20%;
  padding-right: 20%;
}

#login-btn,
#signup-btn {
  color: rgb(13, 224, 13);
  font-weight: bold;
  background-color: black;
  padding: 5px;
  border-radius: 25px;
}

.post-style {
  padding-left: 30%;
  padding-right: 30%;
}

/* .yourpost-style {
  padding-left: 30%;
  padding-right: 30%;
} */

#Profile1.column,
#Profile2.column,
#Profile3.column,
#Profile4.column {
  margin-top: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 2), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 25px;
  border: 2px solid black;
  background-color: rgb(36, 36, 36);
  color: white;
}

#thumb1,
#thumb2,
#thumb3,
#thumb4 {
  margin-top: 20px;
}

#recentFeed {
  padding-left: 30%;
  padding-right: 30%;
}

#likedPosts {
  padding-left: 30%;
  padding-right: 30%;
}

#yourPosts {
  padding-left: 30%;
  padding-right: 30%;
}

.card-divider {
  background-color: grey;
  padding: 20px;
}

.card-section {
  padding: 20px;
}

body {
  background-color: #23272a;
}

#top-streams {
  padding-left: 20%;
  padding-right: 20%;
}

.mypost-header {
  font-size: 20px;
  background-color: #23272a;
}

.mypost-body {
  padding: 5px;
}

p.mypost-body {
  font-size: 14px;
}


hr {
  border: 10px solid #23272a;
}

.create-form {
  padding-left: 15%;
  padding-right: 15%;
  
}

#postForm {
  margin-top: 10px;
  background-color: rgb(36, 36, 36);
  background-position: center;
  width: 50%;
  border: 5px solid #7289da;
  border-radius: 25px;
  margin-left: 25%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 2), 0 6px 6px rgba(0, 0, 0, 0.23)
}

#suggestions {
  padding-left: 10%;
  padding-right: 10%;
}

.form-control,
.searchbox-input {
  background-color: #2c2f33;
}

h2,
h3,
h5,
label {
  color: #7289da;
}

a {
  color: #7289da;
}

textarea {
  max-height: 100px;
  border-radius: 25px;
}

#auth {
  border-radius: 25px;
}

#qua {
  max-height: 10px;
}

#que {
  max-height: 10px;
}

button.delete {
  font-size: 13px;
  color: #ff0000;
  background-color: black;
  padding: 5px;
  border-radius: 25px;
}

button.like {
  font-size: 13px;
  color: #43f74c;
  background-color: #7289da;
  padding: 5px;
  border-radius: 25px;
}

#cocktail-btn,
#twitch-btn {
  border-radius: 25px;
}

