form.signup,
form.login {
  margin-top: 20px;
}

.top-bar,
.top-bar ul {
  background-color: black;
}

#title-site {
  padding-left: 12%;
}

body {
  background-color: #23272a;
}

#top-streams {
  padding-left: 20%;
  padding-right: 20%;
}

#postForm {
  padding-left: 30%;
  padding-right: 30%;
}

#suggestions {
  padding-left: 10%;
  padding-right: 10%;
}

.form-control,
.searchbox-input {
  background-color: #2c2f33;
}

h2, h3, h5,
label {
  color: #7289da;
}

#signup-form,
#login-form {
  padding-left: 30%;
  padding-right: 30%;
}

a {
  color: #7289da;
}